{% extends 'layouts/base.html' %}

{% block content %}
<div class="container strategy-form card shadow p-4">
  <h2 style="text-align: center;">Home</h2>

  <h3>Following table is Datatables enabled.</h3>
  <table class="table" id="example">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
   
    </tbody>
  </table>
</div>

<script>
  $(document).ready(function() {
    $('#example').DataTable();
} );
</script>
{% endblock content %}